<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= './css/style.css')}}"/>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/jquery-1.4.2.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/lrtk.js')}}"></script>
<title>美食</title>
<script type="text/javascript">
	function showtime(){
		d=new Date();
		/*t=document.getElementsByName("mytime");
		t[0].value=d.toLocaleString();    */
		t=document.getElementById("mytime1");
		t.innerHTML=d.toLocaleString();
		x=setTimeout("showtime()",1000);
	}
	function stoptime(){
		clearTimeout(x);
	}
</script>
</head>
<body onload="showtime()">
<div class="top">
  <div class="header cl">
    <div style="position:relative; float:left">
    <h1 id="mytime1" ></h1></div>
    <div class="logo"><img src="{{ url_for('static', filename= './images/logo.png')}}"/></div>
    <ul id="nav" class="nav">
    <li class="mainlevel"><a href="index">首页</a></li>
      <li class="mainlevel"><a href="index-01">简介</a></li>
    <li class="mainlevel" id="mainlevel_01"><a>文物藏品</a>
    <ul class="sub_nav_01">
      <li><a href="index-02-01">一级文物</a></li>
      <li><a href="index-02-02">二级文物</a></li>
      <li><a href="index-02-03">三级文物</a></li>
      </ul>
    </li>
        
    <li class="mainlevel" id="mainlevel_02"><a>文物史迹</a>
    <ul class="sub_nav_01">
      <li><a href="index-03-01">国家重点</a></li>
      <li><a href="index-03-02">省重点</a></li>
      <li><a href="index-03-03">县重点</a></li>
      </ul>
    </li>
    
    <li class="mainlevel"><a href="index-04">我要留言</a>
    </li>
</ul>
  </div>
</div>
 <div class="jing">
   <div class="jing-cont">
   <h4 style="color:#000">二级文物</h4>
   <img src="{{ url_for('static', filename= './images/h2-img03-img.jpg')}}"/>
<p class="other-p">文物中具有重要历史、艺术、科学价值的文物为二级文物。
	   <b>二级文物定级标准</b>　　（一）反映中国各个历史时期的生产力和生产关系及其经济制度、政治制度，以及有关社会历史发展的具有重要价值的文物；
（二）反映一个地区、一个民族或某一个时代的具有重要价值的文物；
（三）反映某一历史人物、历史事件或对研究某一历史问题有重要价值的文物；
（四）反映某种考古学文化类型和文化特征，能说明某一历史问题的成组文物；
（五）历史、艺术、科学价值一般，但材质贵重的文物；
（六）反映各地区、各民族的重要民俗文物；
（七）历代著名艺术家或著名工匠的重要作品；
（八）古旧图书中有具有重要价值的善本；
（九）反映中国近代（1840－1949）历史上的重大事件、重要人物、著名烈士、著名英雄模范的具有重要价值的文物；
（十）反映中华人民共和国成立以来的重大历史事件、重大建设成就、重要领袖人物、著名烈士、著名英雄模范的具有重要价值的文物；
（十一）反映中国共产党和近代其他各党派、团体的重大事件，重要人物、爱国侨胞及其他社会知名人士的具有重要价值的文物；
（十二）其他具有重要历史、艺术、科学价值的文物。

	         </p>
     <p style="margin-left:20px;"><img src="{{ url_for('static', filename= './images/s02.jpg')}}" width="940" height="623" /></p>
    
 </div>
</div>
<div class="footer-bottom">
 <div class="footer">欢迎来到文物的天地</div>
</div>
		</body>
</html>