<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= './css/style.css')}}"/>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/jquery-1.4.2.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/lrtk.js')}}"></script>
<title>特色美食</title>
<script type="text/javascript">
	function showtime(){
		d=new Date();
		/*t=document.getElementsByName("mytime");
		t[0].value=d.toLocaleString();    */
		t=document.getElementById("mytime1");
		t.innerHTML=d.toLocaleString();
		x=setTimeout("showtime()",1000);
	}
	function stoptime(){
		clearTimeout(x);
	}
</script>
</head>
<body onload="showtime()">
<div class="top">
  <div class="header cl">
    <div style="position:relative; float:left">
    <h1 id="mytime1" ></h1></div>
    <div class="logo"><img src="{{ url_for('static', filename= './images/logo.png')}}"/></div>
    <ul id="nav" class="nav">
    <li class="mainlevel"><a href="index">首页</a></li>
    <li class="mainlevel"><a href="index-01">简介</a></li>
    <li class="mainlevel" id="mainlevel_01"><a>文物藏品</a>
    <ul class="sub_nav_01">
      <li><a href="index-02-01">一级文物</a></li>
      <li><a href="index-02-02">二级文物</a></li>
      <li><a href="index-02-03">三级文物</a></li>
      </ul>
    </li>
        
    <li class="mainlevel" id="mainlevel_02"><a>文物史迹</a>
    <ul class="sub_nav_01">
      <li><a href="index-03-01">国家重点</a></li>
      <li><a href="index-03-02">省重点</a></li>
      <li><a href="index-03-03">县重点</a></li>
      </ul>
    </li>
    <li class="mainlevel"><a href="index-04">我要留言</a>
    </li>
</ul>

  </div>
</div>
 
 <div class="jing">
   <div class="jing-cont cl">
   <div style="margin-bottom:20px"><img src="{{ url_for('static', filename= './images/mei1.jpg')}}"/></div>
   <div class="mei-cont">
     <div class="mei-img"><img src="{{ url_for('static', filename= './images/index_12.png')}}" /></div>
     <div class="mei-p">省级文物保护单位是由各省文物局组织进行评审，并由省人民政府正式对外公布并竖立标志的省级文物保护单位。<br />
例如浙江省就拥有雷峰塔遗址、宁波鼓楼、竺可桢故居、普济寺等文物保护单位。<br />

       <p style="margin-left:20px;"><img src="{{ url_for('static', filename= './images/s05.jpg')}}" width="420" height="334" /></p>
</div>
     </div>
   
   </div>
</div>
<div class="footer-bottom">s
 <div class="footer">欢迎来到文物的天地</div>
</div>
		</body>
</html>