<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= './css/style.css')}}"/>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/jquery-1.4.2.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/lrtk.js')}}"></script>
<title>美食</title>
<script type="text/javascript">
	function showtime(){
		d=new Date();
		/*t=document.getElementsByName("mytime");
		t[0].value=d.toLocaleString();    */
		t=document.getElementById("mytime1"); 
		t.innerHTML=d.toLocaleString();
		x=setTimeout("showtime()",1000);
	}
	function stoptime(){
		clearTimeout(x);
	}
</script>
</head>
<body onload="showtime()">
<div class="top">
  <div class="header cl">
    <div style="position:relative; float:left">
    <h1 id="mytime1" ></h1></div>
    <div class="logo"><img src="{{ url_for('static', filename= './images/logo.png')}}"/></div>
    <ul id="nav" class="nav">
    <li class="mainlevel"><a href="index">首页</a></li>
    <li class="mainlevel"><a href="index-01">简介</a></li>
    <li class="mainlevel" id="mainlevel_01"><a>文物藏品</a>
    <ul class="sub_nav_01">
      <li><a href="index-02-01">一级文物</a></li>
      <li><a href="index-02-02">二级文物</a></li>
      <li><a href="index-02-03">三级文物</a></li>
      </ul>
    </li>
        
    <li class="mainlevel" id="mainlevel_02"><a>文物史迹</a>
    <ul class="sub_nav_01">
      <li><a href="index-03-01">国家重点</a></li>
      <li><a href="index-03-02">省重点</a></li>
      <li><a href="index-03-03">县重点</a></li>
      </ul>
    </li>
    
    <li class="mainlevel"><a href="index-04">我要留言</a>
    </li>
</ul>
  </div>
</div>
<div class="longyou-main">
  <div class="banner"></div>
  <div class="cont">
  <div class="cont-main">
    <div class="mould">
    <h3>文物简介</h3>
    <p class="h2-p">　　文物是人类在社会活动中遗留下来的具有历史、艺术、科学价值的遗物和遗迹。它是人类宝贵的历史文化遗产。
文物是指具体的物质遗存，它的基本特征是：第一，必须是由人类创造的，或者是与人类活动有关的；第二，必须是已经成为历史的过去，不可能再重新创造的。目前，各个国家对文物的称谓并不一致，其所指涵义和范围也不尽相同，因而迄今尚未形成一个对文物共同确认的统一定义<br />
　　公元5世纪后期，罗马人日渐式微，普罗旺斯受到来自日耳曼部落的攻击。自7世纪起，受到来自北非的阿拉伯人进攻。中世纪时，普罗旺斯反复遭受周边势力的争夺，包括来自巴塞罗那的加泰罗尼亚人、勃艮第、神圣罗马帝国、诺曼人和法国的瓦鲁瓦王朝。14世纪时，教皇克莱芒五世搬到普罗旺斯的阿维翁。由于亲缘关系的原因，普罗旺斯在1481年正式成为法国的一部分，法国国王路易十一世成为普罗旺斯的统治者。</p>
  </div>
  <div class="mould" style="margin-top:15px">
    <h3 style="color:#FFF">价值分类法</h3>
<p class="h2-p" style="color:#FFF">价值分类法，是以文物的价值为标准，对文物进行分类的方法。文物有历史、艺术、科学价值。没有价值的历史遗迹和遗物不是文物。按照文物价值分类，主要是根据文物价值的高低来区分。至于价值高低的确认，需经鉴定。<br />
根据我国文物法规，对文物价值高低的区分，采取两种办法。
<br /> 其一、对文物史迹，即古建筑、石窟寺、石刻、古遗址、古墓葬、纪念遗址或建筑等，依据其价值的高低，分为三级，即全国重点文物保护单位和省、市、自治区文物保护单位，县（市）级文物保护单位。
<br /> 其二、对文物藏品，如陶瓷器、青铜器、铁器、玉器、漆器、书画等等，依其价值高低，也分为三级，即一级文物、二级文物、三级文物。<br /> <br />
  <span class="h2-p" style="color:#FFF"><img src="{{ url_for('static', filename= './images/index_03.png')}}" width="940" height="416" /></span><br />
    </p>
  </div>
  </div>
  
  </div>
 
</div>
<div class="footer-bottom">
 <div class="footer">欢迎来到文物的天地</div>
</div>
	</body>
</html>