<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= './css/style.css')}}"/>
<title>首页</title>
<script type="text/javascript">
	function showtime(){
		d=new Date();
		t=document.getElementById("mytime1");
		t.innerHTML=d.toLocaleString();
		x=setTimeout("showtime()",1000);
	}
	function stoptime(){
		clearTimeout(x);
	}
</script>
	
<style type="text/css">
a:hover img{filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;}
</style>
	
</head>
<body onload="showtime()">

<div class="top">
  <div class="header cl">
    <div style="position:relative; float:left">
    <h1 id="mytime1" ></h1>
    </div>
    <div class="logo" >
    <img src="{{ url_for('static', filename= './images/logo.png')}}"/>
    
    </div>
    <ul id="nav" class="nav">
    <li class="mainlevel"><a class="hover">首页</a></li>
      <li class="mainlevel"><a href="index-01">简介</a></li>
    <li class="mainlevel" id="mainlevel_01"><a>文物藏品</a>
    <ul class="sub_nav_01">
      <li><a href="index-02-01">一级文物</a></li>
      <li><a href="index-02-02">二级文物</a></li>
      <li><a href="index-02-03">三级文物</a></li>
      </ul>
    </li>
        
    <li class="mainlevel" id="mainlevel_02"><a>文物史迹</a>
    <ul class="sub_nav_01">
      <li><a href="index-03-01">国家重点</a></li>
      <li><a href="index-03-02">省重点</a></li>
      <li><a href="index-03-03">县重点</a></li>
      </ul>
    </li>
    
      <li class="mainlevel"><a href="index-04">我要留言</a>
    </li>
</ul>
  </div>
</div>
<div class="main">
 <div class="banner"></div>
 <div class="cont">
   <div class="cont-main">
     
     <div class="mould cl" style="margin-bottom:11px">
     <h1>文物简介</h1>
     <a href="index-01"><img src="{{ url_for('static', filename= './images/index_03.png')}}" alt=""/></a><a href="index-01"><img src="{{ url_for('static', filename= './images/index_04.png')}}" class="mar"/></a>
<p class="h1-p">　　文物是人类在社会活动中遗留下来的具有历史、艺术、科学价值的遗物和遗迹。它是人类宝贵的历史文化遗产。
文物是指具体的物质遗存，它的基本特征是：第一，必须是由人类创造的，或者是与人类活动有关的；第二，必须是已经成为历史的过去，不可能再重新创造的。目前，各个国家对文物的称谓并不一致，其所指涵义和范围也不尽相同，因而迄今尚未形成一个对文物共同确认的统一定义。　　　　
		 </p>
     </div>
     
     <h2 style="color:#000">文物藏品</h2>
     <div class="mould cl" >
       <div class="add"><a href="index-02-01"><img src="{{ url_for('static', filename= './images/index_07.png')}}"/></a>
         <p class="h2-p"><b>一级文物</b>具有特别重要历史、艺术、科学价值的代表性文物
         </p>
       </div>
       <div class="add"><a href="index-02-02"><img src="{{ url_for('static', filename= './images/index_08.png')}}"/></a>
         <p class="h2-p"><b>二级文物</b>具有重要历史、艺术、科学价值的代表性文物</p>
       </div>
       <div class="add" style="margin-right:0"><a href="index-02-03"><img src="{{ url_for('static', filename= './images/index_09.png')}}"/></a>
         <p class="h2-p"><b>三级文物</b>具有比较重要历史、艺术、科学价值的代表性文物。</p>
       </div>

     </div>
     
     <h2>文物史迹</h2>
     <div class="mould cl" style="margin-bottom:60px">
       <div class="add"><a href="index-03-01"><img src="{{ url_for('static', filename= './images/index_11.png')}}"/></a>
         <p class="h3-p">国家重点
         </p>
       </div>
       <div class="add"><a href="index-03-02"><img src="{{ url_for('static', filename= './images/index_12.png')}}"/></a>
         <p class="h3-p">省重点</p>
       </div>
       <div class="add" style="margin-right:0"><a href="index-03-03"><img src="{{ url_for('static', filename= './images/index_13.png')}}"/></a>
         <p class="h3-p">县重点</p>
       </div>

     </div>
   </div>
  
 </div>
</div>
<div class="footer-bottom">
 <div class="footer">欢迎来到文物的天地</div>
</div>
	</body>
<script type="text/javascript">

  function click(name) {
    window.location.href = 'http://'+window.location.host+'/'+name;
  }

</script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/jquery-1.4.2.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename= './js/lrtk.js')}}"></script>
</html>